extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Katya K

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a full stack JavaScript and Java engineer passionate about High Tech. Please, reach out to my portfolio to see more
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Frontend Development
          li Node JS
          li Express
          li HTML
          li Java
          li Backend Development
          li API Development
          li Git
          li SQL
          li Software testing
        h6 Contact Info

        ul
          li 555-123-1234
          li katya@gmail.com

        a.button.expanded(href='https://linkedin.com') LinkedIn
        a.button.expanded(href='https://github.com/SmavaProject') GitHub
        a.button.expanded(href='https://twitter.com') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
